* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
.content {
  position: relative;
}
.content h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 8em;
}
